<div class="navbar-heat">
  <div class="nav-sx">
    <%= link_to root_path do %>
    <h2 class="text-navbar">HeatMap</h2>
    <% end %>
  </div>
  <div class="nav-dx">
   <span> <%= link_to 'Back', project_documents_path(@project), class: "banana"%></span>

      <%= link_to "Logout", destroy_user_session_path, class: "banana"%>

  </div>
</div>

<div class="row w-100 align-items-center">

  <% @charts.each  do |chart|%>
<div class="center">
  <div class="title-name">
    <h3><%= chart.name %></h3>
  </div>
</div>
    <div class="col-5 m-5">
      <canvas data-controller="chart"
              data-chart-headers="<%= chart.data["headers"].to_json %>"
              data-chart-data="<%= chart.data["values"].to_json %>"
              data-chart-type="<%= chart.data["chart_type"] %>"
              width="200" height="200">
      </canvas>
    </div>
    <div class="col-5 chart-text">
      <div>
      <h3> Key Message</h3>
      <p><%= chart.description %> </p>
      </div>
    </div>
    <% if current_user.id == @project.user_id %>
    <%= link_to "Delete Chart", project_charts_path(chart_id: chart.id), method: :delete, class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
