<div class="navbar-heat navbar-sticky">
  <div class="nav-sx">
    <%= link_to root_path do %>
    <%= image_tag "target(1).png" %>
    <% end %>
    <%= link_to 'Back', :back %>
  </div>
  <div class="nav-dx">
    <div >
      <%= link_to "Logout", destroy_user_session_path%>
    </div>
    <div>
      <a href="#">Setting</a>
    </div>
  </div>
</div>
<div class="row w-75">
  <% @charts.each  do |chart|%>
    <div class="col-6 m-5">
      <canvas data-controller="chart"
              data-chart-headers="<%= chart.data["headers"].to_json %>"
              data-chart-data="<%= chart.data["values"].to_json %>"
              data-chart-type="<%= chart.data["type"] %>"
              width="200" height="200">
      </canvas>
    </div>
    <div class="col-5 chart-text">

      <h2><%= @project.name %></h2>
      <p><%= chart.description %> </p>
    </div>
  <% end %>
</div>
