<div class="navbar-heat navbar-sticky">
  <div class="nav-sx">
    <%= link_to root_path do %>
    <%= image_tag "target(1).png" %>
    <% end %>
  </div>
  <div class="nav-dx">
   <span> <%= link_to 'Back', :back %></span>
    <div >
      <%= link_to "Logout", destroy_user_session_path%>
    </div>
    <div>
      <a href="#">Setting</a>
    </div>
  </div>
</div>

<div class="row w-100 align-items-center">

  <% @charts.each  do |chart|%>
<div class="center">
  <div class="title-name">
    <h3>EMEA Omnichannel Analysis</h3>
  </div>
</div>
    <div class="col-5 m-5">
      <canvas data-controller="chart"
              data-chart-headers="<%= chart.data["headers"].to_json %>"
              data-chart-data="<%= chart.data["values"].to_json %>"
              data-chart-type="<%= chart.data["type"] %>"
              width="200" height="200">
      </canvas>
    </div>
    <div class="col-5 chart-text">
      <div>
      <p><%= chart.description %> </p>
      </div>
    </div>
  <% end %>
</div>
