<div class="navbar-heat">
  <div class="nav-sx">
    <%= link_to root_path do %>
    <%= image_tag "target(1).png" %>
    <% end %>
  </div>
  <div class="nav-dx">
    <div >
      <%= link_to "Logout", destroy_user_session_path%>
    </div>
    <div>
      <a href="#">Setting</a>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center m-5">
  <div class="title-name">
    <h3>EMEA Omnichannel Analysis</h3>
  </div>
</div>
<div class="row p-5">
  <div class="chart-container col-6">
    <% if !params[:text].empty? %>
    <canvas data-controller="chart"
    data-chart-headers="<%= @document.csv_selection_headers(params[:text]).to_json %>"
    data-chart-data="<%= @document.csv_selection_data(params[:text]).to_json %>"
    data-chart-type="<%= @chart_type %>"
    width="200" height="200">
    </canvas>
    <% else %>
    <canvas data-controller="chart"
    data-chart-headers="<%= @document.csv_headers.slice(1, @document.csv_headers.size - 1).to_json %>"
    data-chart-data="<%= @document.csv_data.slice(1, @document.csv_headers.size - 1).to_json %>"
    data-chart-type="<%= @chart_type %>"
    width="200" height="200">
    <% end %>
  </div>
  <div class="col-5 text-center text-field-position">
    <%= simple_form_for([@project, @document, @chart]) do |f| %>
    <fieldset>
      <%= f.input :description, as: :text, :input_html => { :cols => 5, :rows => 8 } %>
      <%= f.submit "Add Text", class: "btn btn-primary" %>
    <%= link_to "Saved Charts", project_charts_path(@project), class: "btn btn-primary" %>
    </fieldset>
    <% end %>
  </div>
</div>
