<nav class="navbar">
  <div class="navbar-box">
   <%= link_to projects_path do %>
    <div class="navabar-box-text">
    <h2 class="text-navbar">HeatMap</h2>
    <%end%>
    </div>
  </div>

  <div class="navbar-box">
  <div class="navabar-box-text">
      <% if current_user.nil? %>

    <%= link_to "Login", new_user_session_path, class: "banana" %>

      <%else %>

      <%= link_to "Logout", destroy_user_session_path, class: "banana" %>
      <% end %>
    </div>
  </div>


</nav>
<div class="main-box-homepage">
<div class="box-header">
<div>
  <h1 class="main-title"><strong>Master</strong> Your Data</h1>
</div>
<div class="under-main">
<div>

  <h5>Change the way you deal with databases.</h5>
  <h5>With Heat <span class="span-color">Map</span> you can have a clear view on your data.</h5>

</div>
<div class="call-to-action-homepage">
  <%  if user_signed_in? %>

   <% else %>







   <%end%>

</div>
</div>
</div>

<div class="box-homepage">
  <h2 class="title-homepage">Why do <span class="span-color">you</span> need Heat<span class="span-color">Map</span>?</h1>
<div class="greybox-homepage">
  <div class="icons-box">
    <%=image_tag(("loading(1).png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons"><span class="span-color">Heavy manteinance</span> of spreadsheets.</p>
  </div>
  <div class="icons-box">
    <%=image_tag(("volume.png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons">You need to deal with massive volumes of <span class="span-color">data.</span></p>
  </div>
  <div class="icons-box">
    <%=image_tag(("guide.png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons">The tools you are using can just create <span class="span-color">Unclear KPI indicators.</span></p>
  </div>
  <div class="icons-box">
    <%=image_tag(("insight.png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons">Your senior manager requires <span class="span-color">advanced insight.</span></p>
  </div>
</div>
</div>


<div class="box-homepage">
  <h2 class="title-homepage">Create a <span class="span-color">powerful dashboard</span> in 3 steps!</h1>
<div class="greybox-homepage">
  <div class="icons-box">
    <%=image_tag(("product.png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons"><span class="span-color">Load your own project</span> or your coworker's.</p>
  </div>
  <div class="icons-box">
    <%=image_tag(("oil-pump.png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons">Query <span class="span-color">your table in SQL</span> directly from the platform.</p>
  </div>
  <div class="icons-box">
    <%=image_tag(("visualization.png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons">Visualize your Analysis <span class="span-color">using charts and Dashboards.</span></p>
  </div>
</div>
</div>
</div>




