<nav class="navbar">
  <div class="navbar-box">
    <%=image_tag(("target.png"), :class =>"img-navbar")%>
    <div class="navabar-box-text">
    <h2 class="text-navbar">HeatMap</h2>
    </div>
  </div>

  <div class="navbar-box">
    <div class="navabar-box-text">
    <h2 class="text-navbar">Login</h2>
    </div>
    <%=image_tag(("login.png"), :class =>"img-navbar")%>
  </div>

</nav>

<div class="main-box-homepage">
<div class="box-header">
<div>
  <h1 class="main-title"><strong>Master</strong> Your Data</h1>
</div>
<div class="under-main">
<div>
  <h5>Change the way you Deal with Database.</h5>
  <h5>With Heat <span class="span-color">Map</span> you can have a Clear View on Your Data.</h5>
</div>
<div class="call-to-action-homepage">
  <p class="call-to-action">Sign Up</p>
  <p class="call-to-action">Info</p>
</div>
</div>
</div>

<div class="box-homepage">
  <h2 class="title-homepage">Why <span class="span-color">you</span> need Heat<span class="span-color">Map</span>?</h1>
<div class="greybox-homepage">
  <div class="icons-box">
    <%=image_tag(("loading(1).png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons"><span class="span-color">Heavy manteinance</span> of spreadsheet.</p>
  </div>
  <div class="icons-box">
    <%=image_tag(("volume.png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons">You need to deal with massive volume of <span class="span-color">data.</span></p>
  </div>
  <div class="icons-box">
    <%=image_tag(("guide.png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons">The tools you are using can create just <span class="span-color">Unclear KPI indicator.</span></p>
  </div>
  <div class="icons-box">
    <%=image_tag(("insight.png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons">Your Director demand <span class="span-color">advanced insight.</span></p>
  </div>
</div>
</div>


<div class="box-homepage">
  <h2 class="title-homepage">Create <span class="span-color">powerful dashboard</span> in 3 steps!</h1>
<div class="greybox-homepage">
  <div class="icons-box">
    <%=image_tag(("product.png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons"><span class="span-color">Load your project</span> or the one of your colleagues.</p>
  </div>
  <div class="icons-box">
    <%=image_tag(("oil-pump.png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons">Query <span class="span-color">your table in SQL</span> directly from the platform.</p>
  </div>
  <div class="icons-box">
    <%=image_tag(("visualization.png"), :class =>"img-homepage")%>
    <p class="homepage-text-icons">Visualize your Analysis <span class="span-color">using charts and Dashboards.</span></p>
  </div>
</div>
</div>
</div>
