<h1>Put a file</h1>
<%= simple_form_for @document do |f| %>
  <%= f.input :link %>
 <%= f.submit %>
<% end %>




<% if params["format"].present?  %>

<table>
<thead>
  <tr>
    <% @headers.each do |element| %>
    <%= element %>
    <% end %>
  </tr>
</thead>

<tbody>
  <% @arrayofhash.each do |thing| %>
  <% thing.each do |key, value| %>
<tr>
  <td><%= value %></td>
</tr>
  <% end %>
  <% end %>

</tbody>
</table>

<% end %>


<canvas id="myChart" width="400" height="400"></canvas>


