<div class="all-container-all">
<div class="container-of-form">
  <h2 class="text-center py 10" style="color: white;">Update</h2>

<div class="entire-form  mx-auto text-center" style="width: 600px; padding: 20px; margin: 20px;">
<%= simple_form_for  Project.find(params[:id]) do |f| %>
<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :description %>
</div>
<div style="text-align: center;">

    <%= link_to projects_path do %>
<div class="our-signup-button" style="margin-top: 30px;">
    <%= f.button :submit, "Update", class: "btn-formm" %>
</div>
<% end %>
<%end%>
</div>
</div>
</div>
</div>

