
  <div class="navbar-heat">

  <div class="nav-sx">
    <%= link_to root_path do %>
    <%= image_tag "target(1).png" %>
    <% end %>
  </div>
  <div class="nav-dx">
    <div >
      <a href="#">Log out</a>
      <%= image_tag "logout.png" %>
    </div>
    <div>
     <a href="#">Setting</a>
      <%= image_tag "setting.png", height: 30; %>
    </div>

    </div>
  </div>

  </div>

  <div class="card-that-contain-all">
    <div class="square">
      <h1 class="project-title"> Projects </h1>
    </div>

    <div class="under-square">
     <h1 class='font-size'>My projects</h1>
     <h1 class="font-size border-bottom-header">Shared Projects</h1>
     <%= link_to "New Project", new_project_path, class: "font-size" %>
   </div>

   <% @projects.each do |project| %>
   <%=  link_to (project_documents_path(project.id)) do  %>
   <div class="container-card">
    <div class="first-card-doc">

      <div class="first-component-card">

        <h1 class="user-card"> <%= project.name %></h1>
        <p><%= project.sku  %></p>
        <div class="buttons-container">
          <%=  link_to 'Edit', edit_project_path(project.id) , class: "our-all-Edit" %>
          <%#= link_to "Edit", edit_project_path(project) %>
          <%#= link_to "Delete", project_path(project), method: :delete %>
          <%=  link_to 'Delete', projects_path(project_id: project.id) , method: :delete, class: "our-all-Delete" %>
        </div>
      </div>
      <div class="second-component-card">
        <p class="username">current_user.email</p>
        <%= image_tag "image33.png" %>
      </div>
    </div>




      </div>
    </div>
    <% end %>
    <% end %>

  </div>

