
<div class="navbar-heat">

  <div class="nav-sx">
    <%= link_to root_path do %>
    <%= image_tag "target(1).png" %>
    <a href="#">HeatMap</a>
    <% end %>
  </div>
  <div class="nav-dx">
    <div >
      <a href="#">Log out</a>
      <%= image_tag "logout.png" %>
    </div>
    <div>
     <a href="#">Setting</a>
      <%= image_tag "setting.png", height: 30; %>
    </div>
    </div>
  </div>

</div>

<div class="card-that-contain-all">
  <div class="square">
    <h1 class="project-title"> Project </h1>
  </div>

  <div class="under-square">
   <h1 class='font-size'>My project</h1>
   <h1 class="font-size border-bottom-header">Shared Project</h1>
   <h1 class="font-size">New Project</h1>
  </div>

  <div class="container-card">
    <div class="first-card-doc">

      <div class="first-component-card">
        <h1 class="user-card">User</h1>
        <p>Description</p>
        <div class="buttons-container">
          <a href="" class="our-all-Edit" ><span class="colour-buttom">a</span> Edit</a>
          <%#= link_to "Edit", edit_project_path(project) %>
          <%#= link_to "Delete", project_path(project), method: :delete %>
          <a href="" class="our-all-Delete">Delete</a>

        </div>
  </div>

      <div class="second-component-card">
        <p class="username">User Name</p>
        <%= image_tag "image33.png" %>
      </div>
    </div>

       <div class="first-card-doc">
      <div class="first-component-card">
        <h1 class="user-card">User</h1>
        <p>Description</p>
      </div>
      <div class="second-component-card">
        <p class="username">User Name</p>
        <%= image_tag "image33.png" %>
      </div>
    </div>
       <div class="first-card-doc">
      <div class="first-component-card">
        <h1 class="user-card">User</h1>
        <p>Description</p>
      </div>
      <div class="second-component-card">
        <p class="username">User Name</p>
        <%= image_tag "image33.png" %>
      </div>
    </div>
       <div class="first-card-doc">
      <div class="first-component-card">
        <h1 class="user-card">User</h1>
        <p>Description</p>
      </div>
      <div class="second-component-card">
        <p class="username">User Name</p>
        <%= image_tag "image33.png" %>
      </div>
    </div>


  </div>


</div>
