<div class="navbar-heat">
  <div class="nav-sx">
    <%= link_to root_path do %>
    <%= image_tag "target(1).png" %>
    <% end %>
  </div>
  <div class="nav-dx">
    <div >
      <%= link_to "Logout", destroy_user_session_path, class: "btn btn-formm login-btn "%>
    </div>
    <div>

      <a href="#">Setting</a>

    </div>
  </div>
</div>

    <h1 class="project-title"> Projects </h1>
    <div class="under-square">
      <%= link_to "My projects", projects_path(Project.where(user_id: current_user.id), text: "My projects"), class: "font-size" %>
      <%= link_to "All projects", projects_path, class: "font-size" %>
      <%= link_to "New project", new_project_path, class: "font-size" %>
    </div>
    <div class="container-flex">
      <% @projects.each do |project| %>
      <% if current_user.id == project.user_id %>

      <div class="first-card-doc">
        <div class="first-component-card">
          <div class="second-component-card">
            <img src="http://res.cloudinary.com/dwdf2inmo/<%= current_user[:photo] %>" alt="">
            <p class="username"> <%= current_user.email %></p>
          </div>

          <div class="user-card">
      <h2>
        <%=  link_to project.name,(project_documents_path(project.id)) %>
      </h2>
            <p><%= project.description %></p>
          </div>

          <div class="buttons-container">
            <div class="button-edit">
              <%=  link_to 'Edit', edit_project_path(project.id) , class: "" %>
            </div>
            <%#= link_to "Edit", edit_project_path(project) %>
            <%#= link_to "Delete", project_path(project), method: :delete %>
            <div class="button-edit">
              <%=  link_to 'Delete', projects_path(project_id: project.id) , method: :delete, class: "" %>
            </div>
          </div>
        </div>
      </div>

      <% else %>

      <div class="non-card-doc">

             <div class="none-user-card">
              <div class="none-component-card">
                <img src="http://res.cloudinary.com/dwdf2inmo/<%= current_user[:photo] %>" alt="">
                <p class="username"> <%= current_user.email %></p>
              </div>
               <h4>Project owned by</h4>
            <p><%= project.description %></p>
          </div>

      </div>



      <% end %>

      <% end %>
</div>










